# Dependency directories
node_modules/
jspm_packages/
# Configs
package-lock.json
config.json

# builds
build/packages/*
build/patches
build/patch-version.json
package-lock.json
package-lock.json
package-lock.json
